<body>
  <div id="box">
    <button class="negativeBtn" onclick="location.href='/candidateLogout';">Log out</button>
    <button class="positiveBtn" onclick="location.href='/message';">Edit Profile</button>
    <button class="positiveBtn" onclick="location.href='/editProfile';">Message</button>
  </div>

  <div id="profile">
  
  </div>

  </body>