<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Candidate Log in</title>
    <link rel="stylesheet" type="text/css" href="public/login.css">
</head>

<body>

    <div id="login">
        <h3>Candidate</h3>
        <form method="post" action="/signin">

            <label for="username"><b>Username: </b></label>
            <input type="text" name="username" placeholder="login">


            <label for="password"><b>Password: </b></label>
            <input type="password" name="password" placeholder="password">

            <button class="positiveBtn" type="submit">Log in</button>
        </form>
        <button class="negativeBtn" onclick="location.href='/'">Back to Login Portal</button>
        <a href="/register">Do not have an account/Go to Register</a>
    </div>

</body>

</html>