<body>
  <div id="box">
    <button class="positiveBtn" onclick="location.href='/createMission';" >Create a Mission</button>
    <button class="negativeBtn" onclick="location.href='/coordinatorLogout';">Log out</button>
  </div>
  
  <div id="missionList">
    
  </div>
<style>
.positiveBtn {
    background-color: #4CAF50;
    color: white;

  }
.negativeBtn {
    background-color: red;
    color: white;   
  }
#box{
    position:fixed;
    right:2%;
    top: 2%;
}

button{
    text-align: center;
    display: inline-block;
    font-size: large;


}
button:hover {
    opacity: 0.8;
}

</style>
</body>