<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Candidate Sign up</title>
    <link rel="stylesheet" type="text/css" href="public/login.css">
</head>
<body>
<div id = "login">

    <h2>Register</h2>
    
    <form action="/registerCandidate" method="post">           
            <label for="username"><b>Username: </b></label>
            <label id="message" style="color:red;display:block;"></label>
            <input type="text" name="username" placeholder="login">

            <label for="password1"><b>Password: </b></label>
            <input type="password" name="password1" placeholder="password">

            <label for="password2"><b>Confirm Password: </b></label>
            <input type="password" name="password2" placeholder="password">

            
    </form>
    <button class="positiveBtn" onclick="check()">Sign up</button>
    <a href="/">Go back</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    //$("button").remove();
    //$("input", "textarea").prop("readonly": true, "tabIndex": -1);
    


$(document).ready(function(){
  $("input[name='username']").keyup(function(){
        //console.log(typeof($("input[name='username']").val()))
        var body = $("input[name='username']").val();
        $.post("/check",{"username" : body},function(data){
        var message = $("#message");
        if(data["exist"]==0){
            message.text("Username already taken");
        }
        else{
            message.text("Username available");
        }
        })
  }
)

});
function check(){
    var username = $("input[name='username']").val();
    var pwd1 = $("input[name='password1']").val();
    var pwd2 = $("input[name='password2']").val();
    if(pwd1===pwd2){
        //$.ajax()
    }
    
}


</script>

</body>

</html>