
<template>
    <div>
        <label for="jobName"> Job Name: </label>
        <input type="text" name="jobName">
        <div class="textarea">
            <label for="jobDescription">Job Description: </label>
            <textarea cols="100" rows="3" name="job_Description"> </textarea>
        </div>
        <label for="numberOfJob">
            Number:
        </label>
        <input type="number" name="numberOfJob">
        <button type="button" class="delete" onclick="deleteParent($(this))">x</button>
    </div>
</template>
<template>
    <div>
        <label for="cargo_For">For: </label>
        <select name="cargo_For">
            <option selected>mission</option>
            <option>journey</option>
            <option>mission and journey</option>
        </select>
        <label for="cargoName">Cargo: </label>
        <input type="text" name="cargoName">
        <label for="cargoQuantity">Quantity: </label>
        <input type="number" name="cargoQuantity">
        <button type="button" class="delete" onclick="deleteParent($(this))">x</button>
    </div>
</template>

<div class="box">

    <h2>Create Mission</h2>

    <form action="/postMission" method="post" id="mission">
        <fieldset>
            <legend>Basic Information</legend>
            <label for="missionName">Mission Name: </label>
            <input type="text" name="missionName" required>

            <label for="countryOfOrigin">Country of Origin: </label>
            <select name="countryOfOrigin" required>
                {{> countries}}
            </select>

            <div class="textarea">
                <label for="missionDescription">Mission Description: </label>
                <textarea cols="100" rows="5" name="missionDescription"
                    placeholder="Description about this Mission"></textarea>
            </div>
        </fieldset>

        <fieldset name="Allowed Countries">
            <legend>Allowed Countries</legend>
            <label>Add Country via the list and button: </label>
            <select id="countries">
                {{> countries}}
            </select>
            <button type="button" id="addCountry">Add</button>
            {{!-- <button type="button" id="deleteCountry">Delete</button> --}}
            <div id="allowedCountries"></div>
        </fieldset>

        {{!-- <textarea id="allowedCountries" cols="100" rows="1" name="Countries Allowed"
                    placeholder="Countries Allowed: Add or Delete via buttons" readonly></textarea> --}}
        <fieldset name="Coordinator Information">
            <legend>Coordinator Information: </legend>
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName">
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName">
            <label for="phoneNumber">Phone Number: </label>
            <input type="tel" name="phoneNumber" pattern="[0-9]+">
            <label for="contactEmail">Email:</label>
            <input type="email" name="contactEmail">
        </fieldset>

        <fieldset id="jobsNeeded" name="Jobs Needed" class="container-box">
            <legend>Needed Jobs</legend>
            <button type="button" id="addJob">Add</button>
            <div>
                <label for="Job Name">Job Name: </label>
                <input type="text" name="jobName">
                <div class="textarea">
                    <label for="jobDescription">Job Description: </label>
                    <textarea cols="100" rows="3" name="jobDescription"> </textarea>
                </div>
                <label for="numberOfJob">
                    Number:
                </label>
                <input type="number" name="numberOfJob" min="1">
            </div>
        </fieldset>


        <fieldset id="cargoNeeded">
            <legend>Cargo Requirements</legend>
            <button type="button" id="addCargo">Add</button>
            <div>
                <label for="Cargo For">For: </label>
                <select name="cargoFor">
                    <option selected>mission</option>
                    <option>journey</option>
                    <option>mission and journey</option>
                </select>
                <label for="cargoName">Cargo: </label>
                <input type="text" name="cargoName">
                <label for="cargoQuantity">Quantity: </label>
                <input type="number" name="cargoQuantity" min="1">
            </div>
        </fieldset>

        <fieldset>
            <legend>Progression</legend>
            <label for="launchDate">Launch Date: </label>
            <input type="date" name="launchDate">
            <label for="missionDuration">Duration of Mission(year): </label>
            <input type="number" name="missionDuration" min="1">
            <label for="missionStatus">Mission Status: </label>
            <select name="missionStatus">
                <option selected>Planning phase</option>
                <option>Departed Earth</option>
                <option>Landed on Mars</option>
                <option>Mission in Progress</option>
                <option>Returned to Earth</option>
                <option>Mission Completed</option>
            </select>
        </fieldset>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    var countries = [];
    $("#addCountry").click(function () {

        var allowedCountries = $("#allowedCountries")//.children().toString();

        var countrySelected = $("#countries option:selected").text();
        var added = $("<input name='countriesAllowed' readonly>").val(countrySelected).add($('<button type="button" class="delete" onclick="deleteCountry($(this))">x</button>'));
        if (countries.includes(countrySelected)) {
            alert("The selected country is already added")
        } else {
            $("#allowedCountries").append(added);
            countries.push(countrySelected);

        }
        console.log(countries);
    });



    function deleteCountry(self) {
        //console.log(countries);
        var allowedCountries = $("#allowedCountries");
        countries = countries.filter(function (val, index, arr) {
            if (val != self.prev().val())
                return val;
        });
        self.prev().remove();
        self.remove();
    };
    function deleteParent(self) {
        self.parent().remove();
    }


    $("#addJob").click(function () {
        var jobsNeeded = $("#jobsNeeded");
        var temp = $("template")[0];
        console.log(temp.content);
        jobsNeeded.append(temp.content.cloneNode(true));
    })

    $("#addCargo").click(function () {
        var cargoNeeded = $("#cargoNeeded");
        var temp = $("template")[1];
        console.log(temp.content);
        cargoNeeded.append(temp.content.cloneNode(true));

    })
</script>