#login {
    border-radius: 50px;
    border: 3px solid black;
    width: 300px;
    height: 500px;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 30px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

button {
  background-color: white;
  color:black;
  padding: 14px 20px;
  margin: 20px 0;
  cursor: pointer;
  width: 60%;
}

.positiveBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
.negativeBtn {
    background-color: red;
    color: white;
    border: none;
  }

button:hover {
    opacity: 0.8;
}

h3 {
    text-align: center;
    margin:30px;
    display:block;

}
a {
  display:block;
  font-size: smaller;
}
  
  
  