<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <style>
    .box {
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        padding: 10px;
        margin: 40px;
    }

    .delete {
        background-color: red;
        color: white;

    }

    .container-box {
        display: grid;
    }

    h2 {
        text-align: center;
    }

    textarea {
        vertical-align: middle;
        text-align: left;
        
        text-rendering:initial;
    }

    .textarea {
        display: inline-block;
    }

    input,
    select,
    fieldset {
        margin: 20px;

    }

    fieldset{
        text-align: center;
        width:700px;
        margin-top: 500px;
        margin:auto;
    }

    button {        
        background-color: white;
        color: black;
        cursor: pointer;
    }

    .positiveBtn {
        margin-top: 50px;
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 14px 20px;
        display: block;
        text-align: center;
        width: 20%;
        margin:auto;
        font-size: larger;
    }

    .negativeBtn {
        background-color: red;
        color: white;
        border: none;
        padding: 14px 20px;
        width: 10%;
        display: inline-block;
        font-size: larger;
        margin-left: 80%;

    }

    button:hover {
        opacity: 0.8;
    }
</style>
</head>
<body>

<button class="negativeBtn" onclick="location.href='/candidateHome';">Cancel</button>
{{{body}}}
<button class="positiveBtn" type="submit" form="profile" >Confirm</button>

</body>
</html>