<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Administrator Log in</title>   
    <link rel="stylesheet" type="text/css" href="./login.css">
</head>

<body>

    <div id="login">
        <h3>Administrator</h3>
        <form>
            
            <label for="username"><b>Username: </b></label> 
            <input type="text" name="username" placeholder="login">
            
            
            <label for="password"><b>Password: </b></label> 
            <input type="password" name="password" placeholder="password">
            
            <button type="submit">Log in</button>
        </form>      
    </div>

</body>

</html>